* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: myFirstFont;
  src: url(../font/Gotham-Font/GothamMedium.ttf);
}

@font-face {
  font-family: myFirstFontlight;
  src: url(../font/Gotham-Font/GothamLight.ttf);
}

::-webkit-scrollbar {
  display: none;
}

p {
  font-family: myFirstFontlight;
  line-height: 20px;
}
.mb {
  margin-bottom: 30px;
}

.font400 {
  font-weight: 400;
}
.w100 {
  width: 100%;
}

.mb10 {
  margin-bottom: 10px;
}
/* .h100{
    height: 100%;
} */

.gitar {
  position: absolute;
  top: 0;
  z-index: -1;
}

.ponitgitar {
  position: absolute;
  top: 60%;
  display: flex;
  gap: 13%;
  width: 95%;
  margin: auto;
  left: 0;
  right: 0;
}
.ponitgitar p {
  font-family: myFirstFont;
  font-weight: 700;
  color: white;
}

.text-noneline {
  text-decoration: none;
}

.xarrow2 {
  width: 85%;
}
.logoekaleido {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.imgekaleido {
  width: 30%;
}

.imgekaleido img {
  width: 100%;
}

.headeres {
  padding: 20px;
}

.wrap {
  display: none;
}

.pos {
  position: absolute;
  top: 0;
  opacity: 0;
}
.pos2 {
  position: absolute;
  bottom: 0;
  opacity: 0;
}

.pos3,
.pos2,
.pos {
  transition: all 0.5s ease;
}

.logohead {
  width: 147px;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.banner img {
  width: 500px;
}

.boxscreen {
  padding: 50px 49px 40px;
  display: flex;

  gap: 98px;
}

.pt-minus {
  padding-top: 16px;
}
.who {
  font-size: 31px;
  font-family: myFirstFont;
  font-weight: 700;
}

.downimgbox {
  width: 55%;
}
.innerbox22 {
  display: flex;
  gap: 23px;
  align-items: end;
}
.downimgbox2 {
  width: 50%;
}

.maindownimgbox2 {
  display: flex;
  gap: 60px;
  align-items: center;
}

.innerbox {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.lineme {
  position: absolute;
  top: 47%;
  left: 0;
  width: 22%;
}

.arrowright {
  height: 16px;
  width: 159px;
}

.were {
  font-family: myFirstFont;
  font-weight: 500;
}

.orange {
  color: #ff7d0a;
}

.dflex {
  display: flex;
}

.leftbox {
  width: 60%;
  padding-left: 17px;
}
.rightbxox {
  width: 40%;
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
}

.crouselsection {
  padding: 50px;
}

.crousel {
  font-size: 57px;
  font-family: 700;
  font-family: myFirstFont;
}

.smallcrousel {
  font-size: 15px;
  font-family: 700;
  font-family: myFirstFont;
}

.crouselwidth {
  width: 80%;
}
.owl-item.active {
  width: 185.558px !important;
  color: #ccc;
}
/* 
.owl-item.active:nth-child(2){
    color: black;
} */

.if {
  display: none;
}
#if2 {
  display: block;
}
.imgphone {
  position: absolute;
  top: 43px;
  right: 147px;
  width: 44%;
}

.arrowlink {
  width: 100%;
}

.text-right {
  text-align: right;
}

.arrowDiv {
  width: 20%;
}

.gapaarow {
  gap: 40px;
}

.owl-prev {
  font-size: 0px !important;
  background-image: url(../assets/arrowleftc.png) !important;
  width: 20px;
  height: 20px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  position: absolute;
  left: -42px;
  top: 35px;
}

.owl-next {
  font-size: 0px !important;
  background-image: url(../assets/arrowrightc.png) !important;
  width: 20px;
  height: 20px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  position: absolute;
  right: 0;
  top: 35px;
}

.indigo {
  width: 40%;
}

.frame {
  width: 21%;
  position: absolute;
  bottom: 0;
  right: 19%;
}

.pepple {
  width: 48%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  object-fit: cover;
}

.fontsizeh1 {
  font-size: 69px;
  font-family: myFirstFont;
  font-weight: 700;
}

.four70 {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 22%;
}

.smallh {
  font-size: 20px;
  font-weight: 700;
  font-family: myFirstFont;
}

.text-center {
  text-align: center;
}

.modelline {
  width: 100%;
  margin-top: 50px;
}

.contenticon {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 81px;

  width: 60%;
  margin-left: 109px;
}
.contenticonfloat {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 35px;
  float: right;
  width: 60%;
  padding-right: 110px;
  margin-bottom: 41px;
}

.leftmar {
  margin-left: 90px;
}

.fontbig {
  font-size: 45px;
  font-weight: 700;
  font-family: myFirstFont;
}

.special {
  font-family: myFirstFont;
}

.xarrow {
  width: 55%;
}

.mb50 {
  margin-bottom: 50px;
}

.box4side {
  padding: 30px 0;
  width: 70%;
  margin: auto;
}
.iconboxside {
  justify-content: space-between;
}
.boxicon {
  width: 24%;
}

.imgphone2 {
  position: absolute;
  top: 43px;
  right: 55px;
  width: 81%;
}

.imgphone3 {
  position: absolute;
  top: 181px;
  right: 80px;
  width: 71%;
}

.f18 {
  font-size: 18px;
  font-weight: 700;
  font-family: myFirstFont;
}

.foating {
  float: right;
  width: 50%;
}

.gitarcontent {
  position: absolute;
  bottom: -89px;
  right: 50px;
  text-align: right;
}
.gitararrow .xarrow {
  width: 16%;
}
.arrowsplit {
  justify-content: space-evenly;
}
.wheregitar {
  width: 92%;
}

.frameblack {
  position: absolute;
  top: 32%;
  right: 15%;
  width: 73%;
}

.imgphone4 {
  position: absolute;
  top: 100px;
  right: 80px;
  width: 71%;
}

.weeow {
  width: 20%;
  margin: auto;
  position: absolute;
  top: 0;
  right: 30px;
  top: 30px;
}

.weeow .arrowsplit {
  gap: 30px;
}
.textleft {
  text-align: left;
}

.contenticon2 {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 81px;
  width: 72%;
  margin-left: 109px;
}

.contenticonfloat {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 35px;
  float: right;
  width: 70%;
  padding-right: 110px;
  margin-bottom: 41px;
}

.filterimg {
  width: 33%;
  right: 34%;
  top: 18%;
  position: absolute;
}
